#logo img {
  position: relative;
  top: -1.5px;
  margin-left: 16px;
}

#header .menu-row {
  display: flex;
  align-items: center;
  margin: 0;
}

#header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2 !important;
}

#myId {
  padding: 0px 0px;
  border-bottom: 0px;
}
