<header id="header" class="clearfix">
  <div nz-row style="flex-flow: nowrap">
    <div nz-col nzSpan="4">
      <a routerLink="/" routerLinkActive="active" id="logo">
        <img
          src="../../assets/img/logo.png"
          width="85%"
          alt="prefecture agadir"
        />
      </a>
    </div>
    <div nz-col nzSpan="14">
      <ul nz-menu nzMode="horizontal" style="border-bottom: 0px">
        <li
          nz-menu-item
          nzSelected
          routerLink="/admin"
          routerLinkActive="active"
        >
          Home
        </li>
        <li nz-submenu nzTitle="Services">
          <ul>
            <li
              nz-menu-item
              routerLink="/certificat-residence"
              routerLinkActive="active"
            >
              Cert. de résidance
            </li>
          </ul>
        </li>
        <li
          nz-menu-item
          routerLink="/gupp"
          routerLinkActive="active"
          *ngIf="isAdmin"
        >
          GUPP
        </li>
        <li
          nz-menu-item
          routerLink="/gaag"
          routerLinkActive="active"
          *ngIf="isAdmin"
        >
          GAAG
        </li>
        <li
          nz-menu-item
          routerLink="/aal"
          routerLinkActive="active"
          *ngIf="isAdmin"
        >
          AAL
        </li>
        <!-- <li nz-menu-item routerLink="/maps" routerLinkActive="active">Maps</li> -->
        <li nz-submenu nzTitle="Logements">
          <ul>
            <li nz-menu-item routerLink="/drawing" routerLinkActive="active">
              Ajouter
            </li>
            <li nz-menu-item routerLink="/show-addrs" routerLinkActive="active">
              Autre
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="4" nzOffset="2">
      <div nz-row style="text-align: right">
        <div nz-col nzSpan="12">
          <button nz-button nzShape="round" (click)="changeLocal()">
            {{ "header.lng" | translate }}
          </button>
        </div>
        <div nz-col nzSpan="8">
          {{ currentuser?.username }}
          <nz-avatar
            nz-dropdown
            [nzDropdownMenu]="menu"
            nzIcon="user"
          ></nz-avatar>
        </div>
      </div>
      <!-- <button
        nz-button
        style="margin: 5px"
        nzShape="round"
        (click)="changeLocal()"
      >
        {{ "header.lng" | translate }}
      </button>
      {{ currentuser?.username }}
      <nz-avatar nz-dropdown [nzDropdownMenu]="menu" nzIcon="user"></nz-avatar> -->
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="logout()">
          {{ "header.logout" | translate }}
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</header>
