<nz-table #table [nzSize]="'small'" [nzData]="users">
  <thead>
    <tr>
      <th>Nom d'utilisateur</th>
      <th>Profil</th>
      <th>CIN</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Téléphone</th>
      <th>Affectation</th>
      <th>Grade</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{ data.username }}</td>
      <td>{{ data.profile.labelFr }}</td>
      <td>{{ data.agentAutorite?.cin }}</td>
      <td>{{ data.agentAutorite?.nom }}</td>
      <td>{{ data.agentAutorite?.prenom }}</td>
      <td>{{ data.agentAutorite?.tel }}</td>
      <td>{{ data.agentAutorite?.aal?.labelFr }}</td>
      <td>{{ data.agentAutorite?.grade?.labelFr }}</td>
      <td>
        <nz-switch
          [ngModel]="data.active"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
          [nzDisabled]="true"
        ></nz-switch>
        <ng-template #checkedTemplate
          ><i nz-icon nzType="check"></i
        ></ng-template>
        <ng-template #unCheckedTemplate
          ><i nz-icon nzType="close"></i
        ></ng-template>
      </td>
      <td>
        <i
          nz-icon
          nzType="file-pdf"
          nzTheme="outline"
          style="font-size: medium"
          (click)="downloadPdf(data.id)"
        ></i>
        <nz-divider nzType="vertical"></nz-divider>
        <i nz-icon nzType="history" nzTheme="outline"></i>
        <nz-divider nzType="vertical"></nz-divider>
        <i nz-icon nzType="sync" nzTheme="outline"></i>
        <nz-divider nzType="vertical"></nz-divider>
        <i
          nz-icon
          nzType="delete"
          nzTheme="outline"
          nz-popconfirm
          nzPopconfirmTitle="Vous etre sur ?"
          (nzOnConfirm)="deleteUser(data.id)"
          [nzPopconfirmPlacement]="'topRight'"
        ></i>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="AJOUTER UN UTILISATEUR"
  (nzOnCancel)="handleCancel()"
  nzWidth="650px"
>
  <ng-container *nzModalContent>
    <app-update-user></app-update-user>
  </ng-container>
</nz-modal>
