<nz-divider [nzText]="text">
  <ng-template #text>
    <i class="fa fa-male" aria-hidden="true"></i>
    Ajouter un cityoen
  </ng-template>
</nz-divider>
<!--{{ form.value | json }}-->
<div>
  <form [formGroup]="form">
    <div nz-row>
      <div nz-col nzSpan="8" nzOffset="8">
        <label for="cin" style="float: left"
          >CIN<span class="required">*</span></label
        >
        <label for="cin" style="float: right"
          ><span class="required">*</span>رقم البطاقة الوطنية</label
        >
        <input
          nz-input
          type="text"
          id="cin"
          style="text-align: center"
          formControlName="cin"
        />
      </div>
    </div>
    <div nz-row [nzGutter]="[16, 16]">
      <!--------------------PRENOM ------------->
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-left">
          <label for="prenom">Prenom<span class="required">*</span></label>
          <input nz-input type="text" id="prenom" formControlName="prenomFr" />
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-right">
          <label for="prenomar"
            ><span class="required">*</span>الاسم الشخصي</label
          >
          <input
            nz-input
            type="text"
            id="prenomar"
            class="u-align-right"
            formControlName="prenomAr"
          />
        </div>
      </div>
      <!-------------  NOM -------------------->
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-left">
          <label for="nom">Nom<span class="required">*</span></label>
          <input nz-input type="text" id="nom" formControlName="nomFr" />
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-right">
          <label for="nomar"
            ><span class="required">*</span>الاسم العائلي</label
          >
          <input
            nz-input
            type="text"
            id="nomar"
            class="u-align-right"
            formControlName="nomAr"
          />
        </div>
      </div>
      <!---------------NOM PERE ----------------------------->
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-left">
          <label for="nom">Nom du pere<span class="required">*</span></label>
          <input nz-input type="text" id="nom" formControlName="nomPereFr" />
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-right">
          <label for="nomar"><span class="required">*</span>اسم الأب</label>
          <input
            nz-input
            type="text"
            id="nomar"
            class="u-align-right"
            formControlName="nomPereAr"
          />
        </div>
      </div>
      <!---------------NOM MERE------------------------------>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-left">
          <label for="nom">Nom du mère<span class="required">*</span></label>
          <input nz-input type="text" id="nom" formControlName="nomMereFr" />
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-right">
          <label for="nomar"><span class="required">*</span>اسم الأم</label>
          <input
            nz-input
            type="text"
            id="nomar"
            class="u-align-right"
            formControlName="nomMereAr"
          />
        </div>
      </div>
      <!-------------  DATE / LIEU DE NAISSANCE -------------------->
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-left">
          <label for="datenaiss"
            >Date de naissance<span class="required">*</span></label
          >
          <label for="datenaiss" style="float: right"
            ><span class="required">*</span>تاريخ الازدياد</label
          >
          <nz-date-picker
            id="datenaiss"
            style="width: 100%"
            formControlName="dateNaissance"
            [nzFormat]="'yyyy-MM-dd'"
          ></nz-date-picker>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-right">
          <label for="lieunaiss" style="float: left"
            >Lieu de naissance<span class="required">*</span></label
          >
          <label for="lieunaiss" style="float: right"
            ><span class="required">*</span>مكان الازدياد</label
          >
          <input
            nz-input
            type="text"
            id="lieunaiss"
            formControlName="lieuNaissance"
          />
        </div>
      </div>
      <!--------------------------------------------->
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-left">
          <label for="profession"
            >Profession<span class="required">*</span></label
          >
          <label for="profession" style="float: right"
            ><span class="required">*</span>المهنة</label
          >
          <nz-select
            id="profession"
            style="width: 100%"
            nzShowSearch
            nzAllowClear
            formControlName="profession"
          >
            <nz-option
              *ngFor="let prof of professions"
              [nzLabel]="prof.labelFr"
              [nzValue]="prof"
            ></nz-option>
          </nz-select>
        </div>
      </div>
      <!------------------------------------------------->
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="u-align-left">
          <label for="situation"
            >Situation familiale<span class="required">*</span></label
          >
          <label for="situation" style="float: right"
            ><span class="required">*</span>الحالة العائلية</label
          >
          <nz-select
            id="situation"
            style="width: 100%"
            nzAllowClear
            nzShowSearch
            formControlName="situationFamiliale"
          >
            <nz-option
              *ngFor="let s of situations"
              [nzLabel]="s"
              [nzValue]="s"
            ></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div nz-row nzJustify="center" style="margin-top: 30px">
      <div nz-col>
        <button nz-button nzType="primary" (click)="create()">Ajouter</button>
        <button nz-button (click)="form.reset()">Annuler</button>
      </div>
    </div>
  </form>
</div>
