<div id="ng-content">
  <div class="page-wrapper" [dir]="direct">
    <app-header *ngIf="isAuthenticated()" [isAdmin]="isAdmin()"></app-header>
    <div class="main-wrapper">
      <div class="main-wrapper">
        <div class="ant-row">
          <div
            class="
              main-container main-container-component
              ant-col
              ant-col-xs-24
              ant-col-sm-24
              ant-col-md-24
              ant-col-lg-24
              ant-col-xl-24
              ant-col-xxl-20
            "
          >
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
